@media (min-width: 980px) 
{
body {padding-top: 60px;padding-bottom: 40px;} 
.sidebar-nav {padding: 2px 0;}
}

a {color: rgba(39,55,64,0.8)}

#links {text-align:right; padding:5px}

ul, li {list-style-type:none;}

.hero-unit {padding: 20px; border: 1px solid rgba(0, 0, 0, 0.05);}
.hero-unit h1 {font-size: 40px;}

.hero-unit {background-color: rgba(39,55,64,0.6); }
.sidebar-nav {background-color: rgba(39,55,64,0.2);}
.accordion-heading {background-color: rgba(39,55,64,0.4);}
.accordion-heading a {text-decoration:none}

.thumbnails > li {background-color:#EEEEEE; text-align:center}
.thumbnails > li p {padding-top:15px; }
.thumbnails > li a:hover {background-color:#DBF0F7; text-decoration:none}
.thumbnails > li {margin: 3px;}

img {border-radius: 8px}
.rounded {border-radius: 8px}

.shadow {
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 2px 2px 2px #C0C0C0;
  -moz-box-shadow: 2px 2px 2px #C0C0C0; 
  -webkit-box-shadow: 2px 2px 2px #C0C0C0;;
}

.nav-list .active > a, .nav-list .active > a:hover {
background-color: rgba(39,55,64,1);
border-radius: 2px;
box-shadow: 2px 2px 2px #888;
-mox-box-shadow: 2px 2px 2px #888;
-webkit-box-shadow: 2px 2px 2px #888;}

body {background: url(../img/body.png);}

.content p {line-height: 24px; font-size: 15px; font-weight: 300;font-family: 'Helvetica Neue', Helvetica}